@model GeoLab100.Models.Lab
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <script src="~/Scripts/LabManual.js"></script>
    <h4>Lab View Ver. 2</h4>
    <hr />
    <form action="" id="displayLabForm">
        <!-- exercise_submission.php method="post"-->
        <fieldset>
            <legend>
                @Html.DisplayFor(model => model.Title) <!-- Html.Raw(HttpUtility.HtmlEncode(Model.Title)) -->
            </legend>
            <dl class="dl-horizontal">
                @foreach (GeoLab100.Models.Exercise e in Model.ExerciseList)
                {
                    <dt>
                        @Html.Raw(e.ExerciseTitle)
                    </dt>
                    <dd>
                        @Html.Raw(e.Content)
                    </dd>
                    <dd>
                        @Html.Raw(e.Response)
                        <dl>
                            @{
                                if (e.ExerciseList != null)
                                {
                                    foreach (GeoLab100.Models.Exercise sub in e.ExerciseList)
                                    {
                                        <dt>
                                            @Html.Raw(sub.ExerciseTitle)
                                        </dt>
                                        <dd>
                                            @Html.Raw(sub.Content)
                                        </dd>
                                        <dd>
                                            @Html.Raw(sub.Response)
                                        </dd>
                                    }
                                }
                            }
                            
                        </dl>
                        <br />
                    </dd>
                                }
            </dl>
        </fieldset>
    </form>
    <div class='row row-relative'>
        <div class='save-lab' />
        <!--<input type="submit" value="Download">-->
        <button type="button" onclick="alert('Lab Saved - NI!')">Save</button>
        <br />
        <button type="button" onclick="alert('Lab Downloaded - NI!')">Download</button>
    </div>
    <!-- Footer -->
    <footer class='footer' id='footer'>
        <div class='container-fluid'>
            <p>Eastern Washington University</p>
        </div>
    </footer>
</div>